body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

/* Сброс маргинов и паддингов */
* {
    margin: 0;
    padding: 0;
}

/* ! header */
.header_ul {
    display: flex;
    list-style: none;
    margin: 0;
    justify-content: right;
    color: #1a4d66;
    align-items: center;
}

.header_ul li a:hover {
    color: white;
}

.span {
    text-decoration: line-through;
    font-size: 15px;
}

.header_ul li .notActive {
    text-decoration: none;
    color: #3182AA;
    padding: 0 12px;
}

.header_ul li .active {
    color: white;
    text-decoration: none;
}

span {
    display: block;
    color: #3182AA;
    font-size: 35px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    height: auto;
    font-size: 20px;
    background-color: #000;
    border-bottom: 1px solid #1a4d66;
    z-index: 1000;
    color: white;
}

/* Контейнер */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
    color: white;
}

/* Картинка корзины */
.korzina {
    width: 30px;
    height: 30px;
}

/* ! Our Headphones */
.our_headphones {
    padding-top: 120px;
    padding-bottom: 120px;
}

.headphones {
    text-align: center;
    width: 100%;
}

.headphones h1 {
    font-size: 80px;
    color: #3182AA;
}

.blue_block_container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.blue_block {
    width: 100px;
    height: 5px;
    background-color: #3182AA;
}

.headphones p {
    color: black;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex img {
    width: 260px;
    height: 280px;
}

/* ! footer */
.footer {
    background-color: #000;
    height: 100px;
    padding-top: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.social-icons a {
    font-size: 30px;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #3182AA;
}

.btn:hover {
    background-color: #2980b9;
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: scale(1);
    box-shadow: none;
}

.flex1 {
    transition: transform 0.3s ease;
}

.flex1:hover {
    transform: scale(1.1);
}

.flex1 img {
    transition: transform 0.3s ease;
}

.flex1:hover img {
    transform: scale(1.1);
}


@media (max-width:320px) {
    html {
        width: 1100px;
    }

}

@media (max-width: 1024px) {
    body {
        width: 1100px;
    }
}